@model ItemsToUsersList
@if(Context.Session.GetString("userName")!=Model.userName){
<div id="details">
    <h1>@Model.name Submited by @Model.userName</h1>
    <div>
        <div>
            <h4>@Model.name</h4>
            <img src="data:image/png;base64,@Model.pic" alt="@Model.name">
        </div>
        <div>
            <h4>Description</h4>
                @Model.description
        </div>
    </div>
</div>
}
else{
    <form asp-controller="Item" asp-action="Edit" enctype="multipart/form-data" asp-route-id="@Model.itemId" method="post">
        <div id="details">
            <h1>@Model.name Submited by @Model.userName</h1>
            <div>
                <div>
                    <label for="editName">Edit name:</label>
                    <input name="editName" type="text">
                    <h4>@Model.name</h4>
                    <label for="editTag">Edit tag:</label>
                    <input name="editTag"type="text">
                    <h4>@Model.tag</h4>
                    <img src="data:image/png;base64,@Model.pic" alt="@Model.name">
                </div>
                <label for="editPic">Edit image:</label>
                <input name="editPic" type="file" accept="image/*">
                <div>
                    <h4>Description</h4>
                    <textarea name="editDescription" rows="20" cols="50">@Model.description</textarea>
                </div>
            </div>
            <button class="btn btn-secondary" type="submit">submit</button>
        </div>
    </form>
}