@model List<ItemsToUsersList>
<div class="btn-group">
<div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by Tag
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (string name in ViewBag.tags)
            {
                <a class="dropdown-item" asp-controller="Item" asp-action="List" asp-route-filterBy="tag" asp-route-value=@name>@name</a>
            }
            
        </div>
    </div>
</div>
<div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by userName
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (string name in ViewBag.userNames)
            {
                <a class="dropdown-item" asp-controller="Item" asp-action="List" asp-route-filterBy="userName" asp-route-value=@name>@name</a>
            }

        </div>
    </div>
</div>
<div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by Item Name
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (string name in ViewBag.itemNames)
            {
                <a class="dropdown-item" asp-controller="Item" asp-action="List" asp-route-filterBy="name" asp-route-value=@name>@name</a>
            }
        </div>
    </div>
</div>
</div>
<table id="itemListTable" class="table table-striped table-hover">
    <tr scope="row">
        <th>
            Name
        </th>
        <th>
            Tag
        </th>
        <th>
            User Name
        </th>
        <th>
            Picture
        </th>
        <th></th>
    </tr>
        @foreach(var item in Model){
        <tr scope="row">
            <td>
                @item.name
            </td>
            <td>
                @item.tag
            </td>
            <td>
                @item.userName
            </td>
            <td>
                <img src="data:image/png;base64,@item.pic">
            </td>
            <td>
                <form asp-controller="Item" asp-action="Detailed" asp-route-id="@item.itemId" class="form-group" method="get">
                    <input value="Details" class="btn btn-dark" type="submit">
                </form>
            </td>
        </tr>
        }

</table>